.difficultyselected{
  color: var(--text_select_color) !important;
}

#iconcontainer{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 30px;
}

#iconlogo{
  width: 400px;
}
