.optiontext{
  color: var(--text_color);
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
  font-family: var( --font_family);
}

#options{
  display: flex;
  justify-content: space-around;
}

#optionsinner{
  display: flex;
}

.option{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  background: var(--window_background);
  border-radius: 10px;
  border: solid 2px var(--window_border);
  margin: 10px;
}

.optionbutton{
  margin: 5px !important;
  font-size: 20px;
}

.buttonrow{
  display: flex;
  justify-content: space-around;
}

.textselected{
  color: var(--text_select_color) !important;
  opacity: 1 !important;
}

@media screen and (max-width: 800px) {
  #optionsinner{
    display: block;
  }
}
